{% extends "doctorsidebar.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/doctordashboard.css' %}">

<div class="dashboard">
    <section class="nav-dashboard-doctor">

        <div class="logo-dashboard">
            <img src="{% static 'img/SGIH.svg' %}" alt="">
        </div>

        <div class="user-info-nav">

            <div class="search">
                <a href="#">
                    <ion-icon name="search-outline"></ion-icon>
                </a>
            </div>
            <div class="notifications">
                <a href="#">
                    <ion-icon name="notifications-outline"></ion-i>
                </a>
            </div>

            <div class="user">
                <div class="name-patient-user">
                    <p class="name-doctor">Luis D.</p>
                    <p >Doctor</p>
                </div>
                <div class="img-user">
                    <img src="{% static 'img/unknown-user.jpg' %}" alt="">
                </div>
                <div class="arrow">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                </div>
            </div>

        </div>

    </section>

    <section class="dashboard-content">
        <div class="important-info">
            <div class="important-info-p1">
                <!-- tres divs iguales, cambiar mas adelante -->
                <div class="item">
                    <div class="info">
                        <div>
                            <h5>Visitas Hoy!</h5>
                            <p>- Nuevos Pacientes</p>
                            <p>- Pacientes de alta</p>
                        </div>
                        <ion-icon name="swap-vertical-outline"></ion-icon>
                    </div>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="info">
                        <div>
                            <h5>Tareas</h5>
                            <p>- Citas Medicas</p>
                            <p>- Entrega de Reportes</p>
                        </div>
                        <i class='bx bx-data'></i>
                    </div>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="info">
                        <div>
                            <h5>Reporte Semanal</h5>
                            <p>- Asistencias</p>
                            <p>- Faltas</p>
                        </div>
                        <ion-icon name="receipt-outline"></ion-icon>
                    </div>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                </div>
                
                <!-- tres divs iguales, cambiar mas adelante -->
            </div>
            <div class="important-info-p2">
                <div class="actividad-semanal-title">
                    <h4>Actividad Semanal</h4>
                </div>
                <div class="actividad-semanal">
                    <div class="item">
                        <canvas class="activity-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="pacientes">
                <div class="header-pacientes">

                    <div class="header">
                        <h4>Todos los pacientes</h4>
                        <div class="tabs">
                            <a href="#" class="active">1Y</a>
                            <a href="#">6M</a>
                            <a href="#">3M</a>
                        </div>
                    </div>
                    
                </div>
                <div class="pacientes-content">
                    <!-- Primer contenedor de persona -->
                    <div class="persona-contenedor">
                        <img src="https://via.placeholder.com/100" alt="Foto de Persona 1" class="foto">
                        <div class="info">
                            <h4>Juan Pérez</h4>
                            <p>Edad: 29</p>
                            <p>Género: Masculino</p>
                            <p>Cédula: 1234567812</p>
                        </div>
                    </div>
                
                    <!-- Segundo contenedor de persona -->
                    <div class="persona-contenedor">
                        <img src="https://via.placeholder.com/100" alt="Foto de Persona 2" class="foto">
                        <div class="info">
                            <h4>María González</h4>
                            <p>Edad: 34</p>
                            <p>Género: Femenino</p>
                            <p>Cédula: 87654321</p>
                        </div>
                    </div>
                
                    <!-- Tercer contenedor de persona -->
                    <div class="persona-contenedor">
                        <img src="https://via.placeholder.com/100" alt="Foto de Persona 3" class="foto">
                        <div class="info">
                            <h4>Carlos Martínez</h4>
                            <p>Edad: 42</p>
                            <p>Género: Masculino</p>
                            <p>Cédula: 45612378</p>
                        </div>
                    </div>
                
                    <!-- Cuarto contenedor de persona -->
                    <div class="persona-contenedor">
                        <img src="https://via.placeholder.com/100" alt="Foto de Persona 4" class="foto">
                        <div class="info">
                            <h4>Lucía Ramírez</h4>
                            <p>Edad: 27</p>
                            <p>Género: Femenino</p>
                            <p>Cédula: 7894561212</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="historias">
                <div class="header">
                    <h4>Historias</h4>
                    <a href="#"># Mas</a>
                </div>
                <div class="historias-content">

                    <!-- Primer contenedor de persona -->
                    <div class="persona-contenedor">
                        <img src="https://via.placeholder.com/100" alt="Foto de Persona 1" class="foto">
                        <div class="info">
                            <h4>Juan Pérez M.  </h4>
                            <p>Cédula: 1234567812</p>
                        </div>
                    </div>
                
                    <!-- Segundo contenedor de persona -->
                    <div class="persona-contenedor">
                        <img src="https://via.placeholder.com/100" alt="Foto de Persona 2" class="foto">
                        <div class="info">
                            <h4>María González</h4>
                            <p>Cédula: 87654321</p>
                        </div>
                    </div>
                
                    <!-- Tercer contenedor de persona -->
                    <div class="persona-contenedor">
                        <img src="https://via.placeholder.com/100" alt="Foto de Persona 3" class="foto">
                        <div class="info">
                            <h4>Carlos Martínez</h4>
                            <p>Cédula: 45612378</p>
                        </div>
                    </div>
                
                    <!-- Cuarto contenedor de persona -->
                    <div class="persona-contenedor">
                        <img src="https://via.placeholder.com/100" alt="Foto de Persona 4" class="foto">
                        <div class="info">
                            <h4>Lucía Ramírez</h4>
                            <p>Cédula: 7894561212</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="calendario">

                <div class="header">
                    <h4>Calendario</h4>
                    <a href="#">Noviembre <i class='bx bx-chevron-down'></i></a>
                </div>
    
                <div class="dates">
                    <div class="item">
                        <h5>Mo</h5>
                        <a href="#">11</a>
                    </div>
                    <div class="item active">
                        <h5>Tu</h5>
                        <a href="#">12</a>
                    </div>
                    <div class="item">
                        <h5>We</h5>
                        <a href="#">13</a>
                    </div>
                    <div class="item">
                        <h5>Th</h5>
                        <a href="#">14</a>
                    </div>
                    <div class="item">
                        <h5>Fr</h5>
                        <a href="#">15</a>
                    </div>
                    <div class="item">
                        <h5>Sa</h5>
                        <a href="#">16</a>
                    </div>
                    <div class="item">
                        <h5>Su</h5>
                        <a href="#">17</a>
                    </div>
                </div>
    
                <div class="events">
                    <div class="item">
                        <div>
                            <i class='bx bx-time'></i>
                            <div class="event-info">
                                <a href="#">Reunion Mensual</a>
                                <p>10:00-11:30</p>
                            </div>
                        </div>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>
                    <div class="item">
                        <div>
                            <i class='bx bx-time'></i>
                            <div class="event-info">
                                <a href="#">Reunion</a>
                                <p>13:30-15:00</p>
                            </div>
                        </div>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>
                    <div class="item">
                        <div>
                            <i class='bx bx-time'></i>
                            <div class="event-info">
                                <a href="#">Reunion</a>
                                <p>11:30-13:00</p>
                            </div>
                        </div>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>        
</div>


<script  type ="module"  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"> </script> 
<script  nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- graficos -->
<script src="{% static 'js/script.js' %}"></script>


{% endblock %}