{% comment %} inicio despues de iniciar sesion doctor {% endcomment %}

{% extends 'doctor_navbar.html' %}

{% block title %}Inicio Doctor{% endblock %}

{% block content %}
<!-- templates/logins/doctor_dashboard.html -->

    <h1>Bienvenido al área de trabajo, Doctor</h1>

    <h2>Historias Clínicas</h2>
    <ul>
        {% for historia in historias %}
            <li>{{ historia.paciente.username }} - {{ historia.descripcion }} ({{ historia.fecha_creacion }})</li>
        {% empty %}
            <li>No has creado ninguna historia clínica aún.</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'crear_historia_clinica' %}">Crear nueva historia clínica</a></p>

    <!-- templates/logins/doctor_dashboard.html -->
    <p><a href="{% url 'crear_receta_medica' %}">Crear nueva receta médica</a></p>
    <p><a href="{% url 'listar_recetas_medicas' %}">Ver mis recetas médicas</a></p>
    
{% endblock %}