<!-- templates/logins/doctor_login.html -->
{% extends 'base.html' %}

{% block title %}
    Doctor Login
{% endblock %}

{% block content %}
<body>
<div class="login-doctores-container">
    
    <form method="post" class="form_container">
        <div class="logo_container">

        </div>

        <div class="title_container">
            <p class="title">Inicio Sesion Doctores</p>
            <span class="subtitle">Inicia sesion para poder disfrutar de todas las funcionalidades de este sistema.</span>
        </div>
        <br>

        {% csrf_token %}
        
        <div class="input_container">
            <label class="input_label" for="username">Usuario</label>
            <ion-icon name="mail-outline" class="icon"></ion-icon>
            <input type="text" name="username" class="input_field" id="username" placeholder="Usuario" required>
        </div>

        <div class="input_container">
            <label class="input_label" for="password">Contraseña</label>
            <ion-icon name="keypad-outline" class="icon"></ion-icon>
            <input type="password" name="password" class="input_field" id="password" placeholder="Contraseña" required>
        </div>

        <button title="Sign In" type="submit" class="sign-in_btn">
            <span>Iniciar Sesion</span>
        </button>

        <div class="separator">
            <hr class="line">
            <span>Ó</span>
            <hr class="line">
        </div>

        <button title="frg_pass" type="submit" class="frg_pass_btn">
            <span>Olvido su Contraseña?</span>
        </button>

        <p class="note">Terminos de uso &amp; Condiciones</p>

        <p class="note">Eres un Paciente? <a href="{% url 'pacientes:login' %}">Inicia Sesion Aqui!</a></p>
        
    </form>
</div>
</body>
</html>
{% endblock %}