
{% extends "base.html" %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    

</head>    
<body>    
{% block content %}
{% comment %} aca se hace todo - bien {% endcomment %}
<h2>Inicio de sesión para Pacientes</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Iniciar sesión</button>

    {% comment %} se puede eliminar esto {% endcomment %}

     <p>No tienes una Cuenta? <a href="{% url 'register' %}">Registrate aquí</a></p>
    <p>Eres Doctor? <a href="{% url 'doctor_login' %}">Inicia Sesion Aqui!</a></p>
</form>

{% endblock %}
</body>
</html>