@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
  --primary-clr: #3aafe5;
  --bg-clr: #f2f4f5;
  --white-bg: #fff;
  --dark-text-clr: #363b46;
  --light-text-clr: #fff;
  --hover-clr: #f1e8fd;
}
body.dark-mode {
  --primary-clr: #3aafe5;
  --bg-clr: #1e1e1e;
  --white-bg: #23262b;
  --dark-text-clr: #fff;
  --light-text-clr: #fff;
  --hover-clr: #31313f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  background: var(--bg-clr);
}


.page {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    #fff,
    #3498db
  ); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  border-radius: 10px; /* Rounded corners */
  position: relative;
  overflow: hidden;
}

.page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none; /* Allow clicking through the pattern layer */
}



.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #757575;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px; 
  text-align: center; /*centra los titulos*/
}

/*
.nav {
  flex: 1;
}
*/

.menu ul li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  transition: all 0.3s;
}

.menu ul li .text {
  flex: 1;
}

/* Flecha inicialmente oculta */
.menu ul li .arrow {
  font-size: 14px;
  opacity: 0; /* Oculta la flecha */
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition-delay: 0.4s; /* Delay de 0.5s para mostrar la flecha */
}

/* Cuando .navcontainer se expande, la flecha se muestra */
.navcontainer.active .menu ul li .arrow {
  opacity: 1; /* Muestra la flecha con delay */
}

/* Animación de rotación cuando el menú está activo */
.menu ul li.active .arrow {
  transform: rotate(180deg);
  transition-delay: 0.1s; /* Sin retraso para la rotación */
}

/* Afecta solo a los enlaces dentro del submenú */
.menu ul.sub-menu li > a:hover,
.menu ul.sub-menu li.active > a {
  color: #f6f6f6;
  background-color: var(--primary-clr); /* Color de fondo al pasar el mouse en el submenu */
}

/* Resetea el color de fondo de las opciones del submenú */
.menu ul.sub-menu li > a {
  color: #757575;
  background-color: transparent; /* Sin color de fondo por defecto */
}

/* submenu oculto primeramente */
.menu .sub-menu {
  display: none;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
  padding: 10px 8px;
  font-size: 12px;
}

.menu:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f6f6f6;
}



/*  */

.navcontainer {
  width: 85px;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  background-color: var(--white-bg);
  transition: all 0.3s ease;
  
  
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1;
}
.navcontainer.active {
  width: 220px;
  
}
.navcontainer .logo {
  width: 100%;
  margin-bottom: 30px;
}
.navcontainer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link-item:last-child {
  margin-top: 1px; /* Para empujar el último elemento hacia abajo */
}
.link-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--dark-text-clr);
}
.link-item a span {
  transition: transform 0.5s;
  transform: translateX(100px);
}
.link-item:last-child span h4 {
  line-height: 1;
}
.link-item:last-child span p {
  font-size: 12px;
}
.navcontainer.active .link-item a span {
  transition-delay: calc(0.02s * var(--i));
  transform: translateX(0px);
}
.link-item a:hover {
  background-color: var(--hover-clr);
}
.link-item.active a {
  color: var(--light-text-clr);
  background-color: var(--primary-clr);
}
.link-item ion-icon {
  min-width: 20px;
  min-height: 20px;
  margin-left: 5px;
  position: relative;
}
.link-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/*home*/


.main-content{
  position: relative;
  width: 100%;
  height: 100vh;
  
    /*
    padding: 20px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.35);
    background-color: white;
    border-radius: 40px;
    */
}

.home-page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
