{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}
{% block content %}
<!-- templates/recetarios/listar_recetas_medicas.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Recetas Médicas</title>
</head>
<body>
    <h1>Mis Recetas Médicas</h1>
    <ul>
        {% for receta in recetas %}
            <li>Receta para {{ receta.paciente.username }} - Medicamentos: {{ receta.medicamentos }} ({{ receta.fecha_creacion }})</li>
        {% empty %}
            <li>No has emitido ninguna receta aún.</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'crear_receta_medica' %}">Crear nueva receta</a></p>


<ul>
    {% for receta in recetas %}
        <li>
            Receta para {{ receta.paciente.username }} - Medicamentos: {{ receta.medicamentos }} 
            ({{ receta.fecha_creacion }})
            <a href="{% url 'generar_pdf_receta' receta.id %}">Descargar PDF</a>
        </li>
    {% empty %}
        <li>No has emitido ninguna receta aún.</li>
    {% endfor %}

<ul>
    {% for receta in recetas %}
        <li>
            Receta para {{ receta.paciente.username }} - Medicamentos: {{ receta.medicamentos }} 
            ({{ receta.fecha_creacion }})
            <a href="{% url 'generar_pdf_receta' receta.id %}">Descargar PDF</a>
            <a href="{% url 'enviar_receta' receta.id %}">Enviar a Farmacia</a>
        </li>
    {% empty %}
        <li>No has emitido ninguna receta aún.</li>
    {% endfor %}
</ul>
</ul>
</body>
</html>
{% endblock %}