{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}
{% block content %}
<!-- templates/recetarios/pdf_receta_medica.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Receta Médica</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
        }
        .receta-info {
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <h1>Receta Médica</h1>
    <div class="receta-info">
        <p><strong>Paciente:</strong> {{ receta.paciente.username }}</p>
        <p><strong>Doctor:</strong> Dr. {{ receta.doctor.username }}</p>
        <p><strong>Medicamentos:</strong> {{ receta.medicamentos }}</p>
        <p><strong>Instrucciones:</strong> {{ receta.instrucciones }}</p>
        <p><strong>Fecha de creación:</strong> {{ receta.fecha_creacion }}</p>
    </div>
</body>
</html>
{% endblock %}