<!-- templates/logins/doctor_login.html -->
{% extends 'sidebar.html' %}

{% block title %}
    Doctor Login
{% endblock %}

{% block content %}
<body>
<div class="login-doctores-container">
    
    <form method="post" class="form_container">
        <div class="logo_container">
            <svg id="logo-35" width="50" height="39" viewBox="0 0 50 39" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.4992 2H37.5808L22.0816 24.9729H1L16.4992 2Z" class="ccompli1" fill="#007AFF"></path> <path d="M17.4224 27.102L11.4192 36H33.5008L49 13.0271H32.7024L23.2064 27.102H17.4224Z" class="ccustom" fill="#312ECB"></path> </svg>
        </div>

        <div class="title_container">
            <p class="title">Inicio Sesion Doctores</p>
            <span class="subtitle">Inicia sesion para poder disfrutar de todas las funcionalidades de este sistema.</span>
        </div>
        <br>

        {% csrf_token %}
        
        <div class="input_container">
            <label class="input_label" for="username">Usuario</label>
            <ion-icon name="mail-outline" class="icon"></ion-icon>
            <input type="text" name="username" class="input_field" id="username" placeholder="Usuario" required>
        </div>

        <div class="input_container">
            <label class="input_label" for="password">Contraseña</label>
            <ion-icon name="keypad-outline" class="icon"></ion-icon>
            <input type="password" name="password" class="input_field" id="password" placeholder="Contraseña" required>
        </div>

        <button type="submit" class="sign-in_btn">
            <span>Iniciar Sesion</span>
        </button>

        <div class="separator">
            <hr class="line">
            <span>Ó</span>
            <hr class="line">
        </div>

        <button type="submit" class="frg_pass_btn">
            <span>Olvido su Contraseña?</span>
        </button>

        <p class="note">Terminos de uso &amp; Condiciones</p>

        {% comment %} <p class="note">Eres un Paciente? <a href="{% url 'pacientes:login' %}">Inicia Sesion Aqui!</a></p> {% endcomment %}
        
    </form>
</div>
</body>
</html>
{% endblock %}