{% comment %} visitors_nav.html {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>{% block title %}Hospital System{% endblock %}</title>
 </head>
 <body>
  <!-- contenedor principal -->
  <div class="page">
    <!-- barra lateral -->
  <div class="navcontainer">
    <!-- seccion de cabecera de slidebar con logo -->
    <div class="logo">
      <img src="{% static 'img/4kSGIH.png' %}" alt="Logo SGIH" width="42.519" height="41.7" />
    </div>

    <!-- navegacion principal -->
<div class="nav">
    <!-- primer menu de navegacion -->
  <div class="menu">
    <p class="title">Usuario</p>
    <ul>
    <li class="link-items">
      <li class="link-item active">
        <a href="{% url 'home' %}" class="link">
          <ion-icon name="home-outline"></ion-icon>
          <span style="--i: 1">Home</span>
        </a>
      </li>
      <li class="link-item">
        <a href="{% url 'pacientes:login' %}" class="link">
          <ion-icon name="person-outline"></ion-icon>
          <span style="--i: 2">Login</span>
        </a>
      </li>

      </li>
    </ul>
    </div>

      <!-- segundo menu : Admon -->
       <div class="menu">
        <p class="title">Doctor</p>
        <ul>
          <li class="link-item">
            <a href="{% url 'doctores:doctor_login'%}" class="link">
              <ion-icon name="people-outline"></ion-icon>
              <span style="--i: 2">Login</span>
            </a>
          </li>

{% comment %}  

      <li class="link-item">

        <a href="#" class="link">
          <ion-icon name="documents-outline"></ion-icon>
          <span style="--i: 7">Recetas</span>
          <i class="arrow ph-bold ph-caret-down"></i>
        </a>
        <!-- submenu de doctor -->
        <ul class="sub-menu">
          <li><a href="#"><span class="text">Crear</span></a></li>
          <li><a href="#"><span class="text">Listar</span></a></li>
          <li><a href="#"><span class="text">Descargar</span></a></li>
        </ul>
      </li>

{% endcomment %}

      </ul>
    </div>

  </div>


  <!-- tercer menu : Config -->
  <div class="menu">
    <p class="title">Config</p>
    <ul>
      <li class="link-item dark-mode">
        <a href="#" class="link">
          <ion-icon name="moon-outline"></ion-icon>
          <span style="--i: 8">dark mode</span>
        </a>
      </li>
      <li class="link-item">
        <a href="#" class="link">
          <img src="{% static 'img/unknown-user.jpg' %}" alt="" />
          <span style="--i: 9">
            <h4>ComingSoon</h4>
            <p>© SGIH</p>
          </span>
        </a>
      </li>
    </ul>
    </div>
  </div>

  <!-- contenido central de la página -->
  <div class="page-content">

  </div>

</div>

<!--  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>

    <script src="{% static 'scripts/script.js' %}"></script>

        <div class="main-content">
            {% block content %}

            {% endblock %}
        </div>
    </div>


</body>
</html>