{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}
{% block content %}
<!-- logins/templates/logins/schedule_appointment.html -->


<h2>Agendar Cita</h2>
<form method="POST">
    {% csrf_token %}
    <label for="doctor">Doctor:</label>
    <input type="text" id="doctor" name="doctor" required>

    <label for="date_time">Fecha y Hora:</label>
    <input type="datetime-local" id="date_time" name="date_time" required>

    <label for="reason">Razón de la Cita:</label>
    <textarea id="reason" name="reason" required></textarea>

    <button type="submit">Agendar Cita</button>
</form>
<a href="{% url 'dashboard' %}">Volver al Dashboard</a>
{% endblock %}
